.navbar {
  background-color: #F55A5A;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: normal;
  font-size: 18px;
}

.img-world {
  height: 30px;
  width: 30px;
}

.card-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
  color: #2B283A;
  border-bottom: 2px solid #F5F5F5;
  padding-bottom: 20px;
}

.card-img {
  width: 200px;
  height: 250px;
  border-radius: 5px;
}

.upper-txt {
  display: flex;
  gap: 5px;
  align-items: baseline;
  padding: 0px;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: normal;
  line-height: 1px;
}

.location-tag {
  width: 14px;
  height: 14px;
}

.bottom-txt {
  margin: 0px;
  max-width: 326px;
}

a {
  color: #918E9B;
  padding-left: 10px;
  letter-spacing: normal;
  font-size: 14px;
}

.bottom-txt-title {
  margin-top: 5px;
}

.bottom-txt-time {
  font-weight: bold;
}

.bottom-txt-paragraph {
  font-size: 14px;
}